:root {
  /* Color */
  --color-black: black;
  --color-grey: grey;
  --color-white: white;
  --color-red: red;
  /* Font size */
  --font-size-nav: 1.5em;
  /* Font weight */
  --font-bolder: bolder;
  /* Padding */
  --padding-nav: 12px;
  /* Margin */
  --margin-nav: 12px;
  /* Width */
  --width-nav-screen: 800px;
  --width-nav-button: 36px;
  --width-nav-title: 100px;
  /* Height */
  --height-nav-button: 36px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.screen {
  margin: 0 auto;
  width: var(--width-nav-screen);
}

/* Navbar */

.navBar {
  background-color: var(--color-black);
  padding: var(--padding-nav);
  display: flex;
  align-items: center;
  line-height: 100%;
}

.navBar .youtube {
  font-size: var(--font-size-nav);
  color: var(--color-red);
}

.navBar .navTitle {
  font-size: calc(var(--nav-font-size) / 1.4);
  font-weight: var(--font-bolder);
  color: var(--color-white);
  width: var(--width-nav-title);
  padding-left: calc(var(--padding-nav) / 2);
}

.navBar .searchBar {
  display: flex;
  width: 100%;
}

.navBar .searchBar .inputText {
  width: 100%;
}

.navBar .searchBar .inputBtn {
  width: var(--width-nav-button);
  height: var(--height-nav-button);
}

/* Field */
.field {
  background-color: var(--color-grey);
  width: 100%;
  height: 40em;
}

/* Video */
.video {
  background-color: var(--color-grey);
}
