:root {
  /* Color */
  --color-black: black;
  --color-grey: grey;
  --color-white: white;
  --color-red: red;
  /* Font size */
  --font-size-nav: 1.5em;
  /* Font weight */
  --font-bolder: bolder;
  /* Padding */
  --padding-nav: 12px;
  --padding-button: 8px;
  /* Margin */
  --margin-nav: 12px;
  /* Width */
  --width-nav-screen: 800px;
  --width-nav-title: 100px;
  /* Height */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  background: var(--color-white);
  width: 100%;
  height: 100%;
}

/* Navbar */

.navBar {
  background-color: var(--color-black);
  padding: var(--padding-nav);
  display: flex;
  align-items: center;
  line-height: 100%;
  width: var(--width-nav-screen);
  margin: 0 auto;
}

.navBar .youtubeIcon {
  font-size: var(--font-size-nav);
  color: var(--color-red);
  margin-right: 0.4em;
}

.navBar .navTitle {
  width: calc(var(--width-nav-screen) * 0.14);
  font-size: calc(var(--nav-font-size) / 1.4);
  font-weight: var(--font-bolder);
  color: var(--color-white);
  text-align: start;
  margin-right: 0.4em;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.navBar .navTitle:hover {
  list-style: none;
}

.navBar .searchBar {
  display: flex;
  width: calc(var(--width-nav-screen) * 0.82);
}

.navBar .searchBar .inputText {
  width: var(--width-nav-screen);
}

.navBar .searchBar .inputBtn {
  padding: var(--padding-button);
  outline: none;
}

button:active {
  color: red;
}

/* Field */
.field {
  margin: 0 auto;
  padding-top: 4px;
  background-color: var(--color-grey);
  width: var(--width-nav-screen);
  height: fit-content;
}

.field .itemList {
  display: flex;
  flex-wrap: nowrap;
}

/* Video */
.video {
  background-color: var(--color-grey);
}
